.restaraunt_btn{
    font-size: 25px;
    background-color: white;
    width: 150px;
    border: none;
}

.restaraunt_btn:hover{
    font-weight: bold;
}

.mode_advanced a{
    color: red;
}

.restaraunt_btn a:visited{
    color: black; 
}

.mode_advanced a:visited{
    color: red; 
}

.restaraunt_btn a{
    text-decoration:none;
}

